@import url(/css/vars.css);

body {
    background-color: #1d1d1d;
}

.main_grid {
    display: grid;
    grid-template-areas: 'topBar topBar' 'sideBar cont' 'footer cont';
    grid-template-columns: 300px auto;
    grid-template-rows: auto calc(100vh - 136px) 80px;
}

.main_grid_topBar {
    padding: 16px;
    background-color: #141414;
    color: #333333;
    border-bottom: 1px solid #3d3d3d;
    grid-area: topBar;
}

.main_grid_sideBar {
    padding: 40px;
    grid-area: sideBar;
    border-right: 1px solid #3d3d3d;
    background-color: #141414;
}

.main_grid_topBar_title {
    font-family: 'SF Pro Display';
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.main_grid_topBar_button {
    font-family: 'SF Pro Text';
    font-size: 12px;
    font-weight: 200;
    color: #ffffff;
    display: block;
    background-color: #0077ed;
    width: fit-content;
    border-radius: 12px;
    padding: 4px 11px;
    min-width: 23px;
    text-decoration: none;
    float: right;
}

.main_grid_content {
    grid-area: cont;
    overflow: scroll;
}

.main_grid_content_text {
    padding: 60px;
}

.main_grid_content_text_section_grid.g1 {
    display: grid;
    grid-template-areas: 's1 . s2';
    grid-template-columns: auto 20px auto;
}

.main_grid_content_text_section.s1 {
    grid-area: s1;
}

.main_grid_content_text_section.s2 {
    grid-area: s2;
}

.main_grid_content_text_section {
    position: relative;
    padding: 2em;
    margin-bottom: 60px;
    background-color: #141414;
    border-radius: 1em;
    grid-area: cont;
    overflow: scroll;
}

.main_grid_content_text_section p {
    font-family: 'SF Pro Text';
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 3.2em;
}

.main_grid_content_text_button {
    font-family: 'SF Pro Text';
    font-size: 12px;
    font-weight: 200;
    color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    background-color: #0077ed;
    width: fit-content;
    border-radius: 12px;
    padding: 4px 11px;
    min-width: 23px;
    text-decoration: none;
    bottom: 2em;
}

.main_grid_content_header {
    background-color: #000000;
    padding: 60px 60px 0px 60px;
}

.main_grid_content_header p {
    font-family: 'SF Pro Display';
    font-size: 20px;
    font-weight: 300;
    margin-left: 60px;
    margin-right: 60px;
    color: #ffffff;
    display: block;
    text-align: center;
    margin-top: 25px;
    line-height: 1.5;
}

.main_grid_footer {
    font-family: 'SF Pro Text';
    font-size: 12px;
    font-weight: 200;
    color: #ffffff;
    display: block;

    grid-area: footer;
    padding: 36px;
    border-right: 1px solid #3d3d3d;
    border-top: 1px solid #3d3d3d;
    background-color: #141414;
}