h1 {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-top: 68px;
}

h3 {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    margin-top: 1em;
}

h4 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

p {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 200;
    color: #000000;
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

span {
    color: #0077ed;
}

img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 650px) {

    img {
        width: 300px;
    }

}

