/*
===========================
SF Pro Display (Apple Font)
===========================
*/

/* SF Pro Display (Weight 100) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/SF-Pro-Display-Ultralight.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 100;
	src: url("/fonts/SF-Pro-Display-Ultralight-Italic.otf");
}

/* SF Pro Display (Weight 200) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 200;
	src: url("/fonts/SF-Pro-Display-Thin-Italic.otf");
}

/* SF Pro Display (Weight 300) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/SF-Pro-Display-Light.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 300;
	src: url("/fonts/SF-Pro-Display-Light-Italic.otf");
}

/* SF Pro Display (Weight 400) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/SF-Pro-Display-Regular-Italic.otf");
}

/* SF Pro Display (Weight 500) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 500;
	src: url("/fonts/SF-Pro-Display-Medium-Italic.otf");
}

/* SF Pro Display (Weight 600) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 600;
	src: url("/fonts/SF-Pro-Display-Semibold-Italic.otf");
}

/* SF Pro Display (Weight 700) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/SF-Pro-Display-Bold-Italic.otf");
}

/* SF Pro Display (Weight 800) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/SF-Pro-Display-Heavy.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 800;
	src: url("/fonts/SF-Pro-Display-Heavy-Italic.otf");
}

/* SF Pro Display (Weight 900) */

@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/SF-Pro-Display-Black.otf");
}

@font-face {
	font-family:'SF Pro Display';
	font-style: italic;
	font-weight: 900;
	src: url("/fonts/SF-Pro-Display-Black-Italic.otf");
}


/*
========================
SF Pro Text (Apple Font)
========================
*/

/* SF Pro Text (Weight 100) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/SF-Pro-Text-Ultralight.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 100;
	src: url("/fonts/SF-Pro-Text-Ultralight-Italic.otf");
}

/* SF Pro Text (Weight 200) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/SF-Pro-Text-Thin.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 200;
	src: url("/fonts/SF-Pro-Text-Thin-Italic.otf");
}

/* SF Pro Text (Weight 300) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/SF-Pro-Text-Light.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 300;
	src: url("/fonts/SF-Pro-Text-Light-Italic.otf");
}

/* SF Pro Text (Weight 400) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/SF-Pro-Text-Regular-Italic.otf");
}

/* SF Pro Text (Weight 500) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/SF-Pro-Text-Medium.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 500;
	src: url("/fonts/SF-Pro-Text-Medium-Italic.otf");
}

/* SF Pro Text (Weight 600) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/SF-Pro-Text-Semibold.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 600;
	src: url("/fonts/SF-Pro-Text-Semibold-Italic.otf");
}

/* SF Pro Text (Weight 700) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/SF-Pro-Text-Bold.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/SF-Pro-Text-Bold-Italic.otf");
}

/* SF Pro Text (Weight 800) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/SF-Pro-Text-Heavy.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 800;
	src: url("/fonts/SF-Pro-Text-Heavy-Italic.otf");
}

/* SF Pro Text (Weight 900) */

@font-face {
	font-family:'SF Pro Text';
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/SF-Pro-Text-Black.otf");
}

@font-face {
	font-family:'SF Pro Text';
	font-style: italic;
	font-weight: 900;
	src: url("/fonts/SF-Pro-Text-Black-Italic.otf");
}





h1 {
    font-family: 'SF Pro Display';
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-top: 68px;
}

h3 {
    font-family: 'SF Pro Display';
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 1em;
}

h4 {
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

p {
    font-family: 'SF Pro Text';
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

span {
    color: #0077ed;
}

img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 650px) {

    img {
        width: 300px;
    }

}

